{% extends 'base.html.twig' %}


{% block body %}
  <div class="container mt-5">
    <div>
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>

    <div class="mt-3">
      <a href="{{path('channel_show', {'name': channelName})}}">戻る</a>
    </div>
  </div>
{% endblock %}