{% extends 'base.html.twig' %}


{% block body %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}

  <a href="{{path('channel_show', {'name': channelName})}}">戻る</a>
{% endblock %}